body, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial,sans-serif;
}

#navbar {
    background-color: #333;
    color: white;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

p {
    margin-bottom: 20px;
    padding: 0 15px;
}

.highlight {
    color: #4CAF50;
    font-weight: bold;
}